<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" [formGroup]="searchGIf" (ngSubmit)="apiSearch()">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" name="giphy-search" formControlName="search" class="form-control"
                        placeholder="type your search here" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default pull-right" [disabled]="disable">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
